.auth_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container {
    width: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    padding: 20px 0px;
}

.form_container > img {
    width: 141px;
    height: 110px;
}

.copyright {
    font-weight: 200;
    font-size: 0.8em;
    color: #0000008a;
}

.auth_form {
    width: 100%;
    height: max-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 14px;
    border-radius: var(--border-radius);
    box-shadow: 0px 71px 471px #00000027;
}

.input_field {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}
.input_field > label {
font-size: 0.9rem;
font-weight: 400;
}
.input_field > input {
    width: 100%;
    height: 50px;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    padding: 0px 20px;
    background-color: transparent;
    color: #000000c1;
    transition: border .3s;
}
.input_field > input[data-error=true] {
    border-color: red;
}
.input_field > input::placeholder {
    font-size: 0.95em;
    font-weight: 300;
    color: #000000a7;
}

.forgot_password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.forgot_password > a {
    color: var(--color-primary);
    font-size: 0.88em;
    text-decoration: underline;
    font-weight: 300;
}

.auth_submit {
    width: 100%;
    height: 50px;
    color: var(--color-primary-text);
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--font-sm);
}
.other {
    background-color: var(--color-secondary);
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: 0.85em;
    display: flex;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border .3s;
}
.other > div {
    width: 80%;
    height: max-content;
    padding: 0px 5px 0px 0px;
}
.other > div > h3 {
    color: var(--color-primary);
}
.other > div > p {
    font-weight: 300;
    font-size: 0.87em;
}
.other > .icon_container {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.other > .icon_container > svg {
    fill: #000000b8;
    transition: transform .5s;
}
.other:hover > .icon_container > svg {
    transform: translateX(8px);
}
.other:hover {
    border-color: var(--color-border);
}
.assign_newsletter {
    display: flex;
    gap: 5px;
    align-items: center;
}
.assign_newsletter > input {
    width: 18px;
    height: 18px;
}
.assign_newsletter > label {
    font-weight: 300;
    font-size: 0.9em;
}

@media screen and (max-width: 420px) {
    .form_container {
        width: 95%;
    }
}